<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Viveres TENZIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <h1 class="titulo-principal">Viveres TENZIN</h1>
    <nav>
        <a href="/">Inicio</a>
        <a href="/about">Acerca de</a>
        <a href="/inventario">Inventario</a>
    </nav>
</header>

<hr>

{% block content %}
{% endblock %}

<hr>

<footer>
    Proyecto Flask - Inventario Semana 10
</footer>

</body>
</html>