<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buscar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Buscar Producto</h2>
    <form method="POST">
        <label>Nombre:</label>
        <input type="text" name="termino" required>
        <button type="submit" class="btn-accion">Buscar</button>
    </form>

    {% if productos %}
    <h3>Resultados:</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto[0] }}</td>
            <td>{{ producto[1] }}</td>
            <td>{{ producto[2] }}</td>
            <td>{{ producto[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>